SERVER_ADDR=:8080
DB_DRIVER=mysql
DB_DSN=gaokao_app:GaokaoApi_2026_Auth@tcp(127.0.0.1:3306)/gaokao?charset=utf8mb4&parseTime=true&loc=Local
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_SECONDS=21600
POSTGRES_DSN=host=127.0.0.1 port=5432 user=postgres password=postgres dbname=gaokao sslmode=disable
# 远程库在 192.168.90.79 且仅监听本机时，先建立 SSH 隧道：
# sshpass -p "<服务器密码>" ssh -N -L 15432:127.0.0.1:5432 user@192.168.90.79
# 然后改用如下 DSN：
# POSTGRES_DSN=host=127.0.0.1 port=15432 user=postgres password=<数据库密码> dbname=gaokao sslmode=disable
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_TIMEOUT_SECONDS=120
GIN_MODE=release
TRUSTED_PROXIES=127.0.0.1,::1
